.about__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.about__person{
    margin-bottom: 50px;
}

.about-img{
    width: 280px;
    height: 400px;
}

.parnter__flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about__text{
    text-align: center;
}

.parnter-img{
    width: 100px;
    height: 100px;
}

