.phytodesign__container{
    margin-bottom: 50px;
}

@media screen and (min-width: 480px) {
    .phytodesign__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 60px 40px;
    }

    .phytodesign__container{
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 768px) {
    .phytodesign__grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

